/* Body */
html, body {
      margin: 0;
      padding: 0;
}

/*Header*/
.header {
      background-color: #1f2937;
      display: flex;
      justify-content: space-between;
      align-items: center;
}

.header .logo {
      font-size: 24px;
      color: #f9faf8;
      padding: 0 20px;
}

.header a, .header ul {
      text-decoration: none;
      color: #e5e7eb;
      font-size: 18px;
      list-style-type: none;
}

.header ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      padding: 0 20px;
}

/*Footer*/
.footer {
      background-color: #1f2937;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
}
.footer p {
      color: #e5e7eb;
      font-size: 18px;
}